body{
    font-family: 'Playfair Display', serif;
    height: 2000px;
}


header{
    font-family: 'Lobster', cursive;

}

button{width: 169px;
    height: 53px;
    background: transparent;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
   }

$header_font_color: #fff;

$header_font_color2: #26b0e5

 